@model Helpers.Models.Product
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "Products", FormMethod.Post))
 {
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(temp=>temp.ProductName)
            @Html.TextBoxFor(temp => temp.ProductName, new {@class="form-control"})
            @Html.HiddenFor(temp=>temp.ProductID)
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(temp=>temp.Price)
            @Html.TextBoxFor(temp => temp.Price, new {@class="form-control"})
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(temp=>temp.DateOfPurchase)
            @Html.TextBoxFor(temp => temp.DateOfPurchase, new { @type = "date",@class ="form-control"})
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(temp => temp.AvailabilityStatus, new { @class = "form-check-label" })
            <div class="form-check">
                @Html.RadioButtonFor(temp=>temp.AvailabilityStatus,"In Stock", new {@class="form-check-input",id="instock"})
                <label class="form-check-label" for="InStock">InStock</label>
            </div>
            <div class="from-group col-md-6">
                @Html.RadioButtonFor(temp => temp.AvailabilityStatus, "OutOfStock", new {@class="form-check-input",id="outofstock"})
                <label class="from-check-label" for="OutOfStock">Out Of Stock</label>
            </div>

            @*<div class="form-group col-md-6">
            @Html.LabelFor(temp => temp.AvailabilityStatus, new {@class="form-control"})
            @Html.DropDownListFor(temp=>temp.AvailabilityStatus,new List<SelectListItem>()
            {
                new SelectListItem(){Text="InStock",Value="InStock"},
                new SelectListItem(){Text="OutOfStock",Value="OutOfStock"}
            },"Please Select", new {@class="form-control"})
        </div>*@

        </div>
        <div class="from-row">

        </div>
    </div>
    <div class="from-row">
        <div class="form-group col-md-6">
          @Html.LabelFor(temp=>temp.CategoryID)
          @Html.DropDownListFor(temp => temp.CategoryID, new SelectList(ViewBag.categories,"CategoryID","CategoryName"),"Please Select", new {@class="form-control"})
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(temp=>temp.BrandID)
            @Html.DropDownListFor(temp=>temp.BrandID,new SelectList(ViewBag.brands,"BrandID","BrandName"),"Please Select", new {@class="form-control"})
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            @Html.CheckBoxFor(temp => temp.Active.Value, new { @class = "form-check-input", @value="false"})
            @Html.LabelFor(temp => temp.Active, new { @class = "form-check-label" })
        </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
    <a class="btn btn-danger" href="@Url.Action("Index","Products")">Cancel</a>
 }

